<% layout("./layouts/boilerplate.ejs") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <style>
    
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Explore Page</h1>
        </div>

        <!-- New Releases Section -->
        <div class="grid">
            <div class="card">
                <h2>New Releases</h2>
                <div class="grid">
                        <% newReleases.albums.items.forEach(album => { %>
                            <a href="<%=album.external_urls.spotify %>">
                                <div class="card">
                                    <img src="<%= album.images[0] ? album.images[0].url : 'https://via.placeholder.com/150' %>" alt="Album Cover">
                                    <div class="track-info">
                                        <p><strong><%= album.name %></strong></p>
                                        <p><%= album.artists.map(artist => artist.name).join(', ') %></p>
                                    </div>
                                </div>
                            </a>
                        <% }) %>
                </div>
            </div>

            <!-- Browse Categories Section -->
            <div class="grid">
                <div class="card">
                    <h2>Browse Categories</h2>
                    <div class="grid">
                        <% categories.categories.items.forEach(category => { %>
                            <a href="<%=category.href%>">
                                <div class="card">
                                    <img src="<%= category.icons[0] ? category.icons[0].url : 'https://via.placeholder.com/150' %>" alt="Category Icon">
                                    <p><strong><%= category.name %></strong></p>
                                </div>
                            </a>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
